@{
    ViewBag.Title = "Background";
}

<section id="content">
    <div class="bg-dark lt">
        <div class="container">
            <div class="m-b-lg m-t-lg">
                <h3 class="m-b-none">Project Background</h3>
            </div>
        </div>
        <div class="bg-white b-b b-light">
            <div class="container">
                <ul class="breadcrumb no-border bg-empty m-b-none m-l-n-sm">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="active">Background</li>
                </ul>
            </div>
        </div>
        <div class="bg-white-only">
            <div class="container">
                <div class="m-t-xl m-b-xl">
                    <h2 class="font-thin">
                        Emergency Hound is a product of an EPA Exchange Network Grant awarded to the Muscogee (Creek) Nation for the development
                        of a Tribal Emergency Management Application.
                    </h2>
                    <h2>Project partners include: </h2>
                </div>
                <div class="row m-b-xl text-center">
                    <div class="col-sm-4 fadeInLeft animated">
                        <div class="clear">
                            <img src="~/Content/Images/seal_mcn.png" />
                            <h4>Muscogee (Creek) Nation</h4>
                        </div>
                    </div>
                    <div class="col-sm-4 fadeInLeft animated">
                        <div class="clear">
                            <img src="~/Content/Images/seal_seminole.png" />
                            <h4>Seminole Nation</h4>
                        </div>
                    </div>
                    <div class="col-sm-4 fadeInLeft animated">
                        <div class="clear">
                            <img src="~/Content/Images/seal_kickapoo.png" />
                            <h4>Kickapoo Tribe of Oklahoma</h4>
                        </div>
                    </div>
                    <div class="col-sm-4 fadeInLeft animated">
                        <div class="clear">
                            <img src="~/Content/Images/seal_pot.png" />
                            <h4>Citizen Potawatomi Nation</h4>
                        </div>
                    </div>
                    <div class="col-sm-4 fadeInLeft animated">
                        <div class="clear">
                            <img src="~/Content/Images/seal_itemc.png" />
                            <h4>Inter-Tribal Emergency Management Coalition</h4>
                        </div>
                    </div>
                    <div class="col-sm-4 fadeInLeft animated">
                        <div class="clear">
                            <img src="~/Content/Images/seal_epa.png" />
                            <h4>US EPA</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
