@{
    ViewBag.Title = "Features";
}

<section id="content">
    <div class="bg-dark lt">
        <div class="container">
            <div class="m-b-lg m-t-lg">
                <h3 class="m-b-none">Features</h3>
                <small class="text-muted">Top features you need know</small>
            </div>
        </div>
    </div>
    <div class="bg-white b-b b-light">
        <div class="container">
            <ul class="breadcrumb no-border bg-empty m-b-none m-l-n-sm">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="active">Features</li>
            </ul>
        </div>
    </div>
    <div>
        <div class="container m-t-xl">
            <div class="row">
                <div class="col-sm-7">

                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                    }
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>

                    <h2 class="font-thin m-b-lg">Works Great on <span class="text-primary">Mobile</span>, <span class="text-primary">Tablet</span> and <span class="text-primary">Desktop</span></h2>
                    <p class="h4 m-b-lg l-h-1x">
                        Emergency Hound will work no matter where you are, anywhere in the world. Even in remote locations with no Internet access - Emergency Hound will continue to work and synchronize your data when you are back 'on the grid'.

                    </p>
                    <div class="row m-b-xl">
                        <div class="col-sm-6"><i class="fa fa-fw fa-angle-right"></i>Scales to Any Device</div>
                        <div class="col-sm-6"><i class="fa fa-fw fa-angle-right"></i>Keep Working Even When the Internet Isn't</div>
                        <div class="col-sm-6"><i class="fa fa-fw fa-angle-right"></i>Lightweight In-the-Field Tool</div>
                        <div class="col-sm-6"><i class="fa fa-fw fa-angle-right"></i>Data Synch When Internet is Available</div>
                    </div>
                    <p class="clearfix">&nbsp;</p>
                    <div class="row m-b-xl">
                        <div class="col-xs-2"><i class="fa fa-desktop fa-4x icon-muted"></i></div>
                        <div class="col-xs-2"><i class="fa fa-plus icon-muted m-t"></i></div>
                        <div class="col-xs-2"><i class="fa fa-tablet fa-4x icon-muted"></i></div>
                        <div class="col-xs-2"><i class="fa fa-plus icon-muted m-t"></i></div>
                        <div class="col-xs-2"><i class="fa fa-mobile fa-4x icon-muted"></i></div>
                    </div>
                </div>
                <div class="col-sm-5 text-center">
                    <section class="panel bg-dark inline aside-md no-border device phone animated fadeInRightBig">
                        <header class="panel-heading text-center">
                            <i class="fa fa-minus fa-2x icon-muted m-b-n-xs block"></i>
                        </header>
                        <div class="m-l-xs m-r-xs">
                            <div class="carousel auto slide" id="c-fade" data-interval="3000">
                                <div class="carousel-inner">
                                    <div class="item active text-center">
                                        <img src="~/Content/Images/phone-2.png" class="img-full">
                                    </div>
                                    <div class="item text-center">
                                        <img src="~/Content/Images/phone-1.png" class="img-full">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer class="bg-dark text-center panel-footer no-border">
                            <i class="fa fa-circle icon-muted fa-lg"></i>
                        </footer>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white b-t b-light">
        <div class="container">
            <div class="row m-t-xl m-b-xl">
                <div class="col-sm-5 text-center clearfix m-t-xl" data-ride="animated" data-animation="fadeInLeftBig">
                    <div class="h1 font-bold m-t-xl m-b-xl">
                        <img src="~/Content/Images/logo.png" style="width:200px" />
                    </div>
                </div>
                <div class="col-sm-7">
                    <h2 class="font-thin m-b-lg">Incident Preparation</h2>
                    <p class="h4 m-b-lg l-h-1x">
                        Maintain resources, maintain responder certifications.
                    </p>
                    <p class="m-b-xl">
                        Maintain a listing of responders, including first aid, firefighters, emergency managers, volunteers. Cross reference individuals with required certifications.
                        Depending on the resource type, diffierent fields can be tracked. Resources can be goods, locations (such as shelters), and individuals.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="b-t b-light">
        <div class="container m-t-xl">
            <div class="row">
                <div class="col-sm-7">
                    <h2 class="font-thin m-b-lg">Incident Response</h2>
                    <p class="h4 m-b-lg l-h-1x">
                        Collaborate in the field while responding to an incident
                    </p>
                    <p class="m-b-xl">
                        When in the field, you don't have time for cumbersome data entry screens. Emergency Hound synchronizes essential information to your mobile device
                        and allows you to quickly collaborate with others in the field. Instant notification allows all responder to quickly assess incident changes as they occur.
                    </p>
                </div>
                <div class="col-sm-5 text-center" data-ride="animated" data-animation="fadeInUp">
                    <section class="panel bg-dark m-t-lg m-r-n-lg m-b-n-lg no-border device animated fadeInUp">
                        <header class="panel-heading text-left">
                            <i class="fa fa-circle fa-fw icon-muted"></i>
                            <i class="fa fa-circle fa-fw icon-muted"></i>
                            <i class="fa fa-circle fa-fw icon-muted"></i>
                        </header>
                        <img src="~/Content/Images/main.png" class="img-full">
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white b-t b-light pos-rlt">
        <div class="container">
            <div class="row m-t-xl m-b-xl">
                <div class="col-sm-5 text-center clearfix m-t-xl" data-ride="animated" data-animation="fadeInLeftBig">
                    <div class="h3 font-bold m-t-xl m-b-xl">
                        <i class="fa fa-circle text-primary fa-2x"></i>
                        <i class="fa fa-circle text-info fa-2x"></i>
                        <i class="fa fa-circle text-success fa-2x"></i>
                        <i class="fa fa-circle text-warning fa-2x"></i>
                        <i class="fa fa-circle text-danger fa-2x"></i>
                        <i class="fa fa-circle text-dark fa-2x"></i>
                        <i class="fa fa-circle text-light fa-2x"></i>
                    </div>
                </div>
                <div class="col-sm-7">
                    <h2 class="font-thin m-b-lg">Multi-jurisdiction Collaboration</h2>
                    <p class="h4 m-b-lg l-h-1x">
                        Multiple jurisdictions can use the application simultaneously and have complete control over which data can be accessed by other jurisdictions.
                    </p>
                    <ul class="m-b-xl fa-ul">
                        <li><i class="fa fa-li fa-check text-muted"></i>Multiple jurisdictions</li>
                        <li><i class="fa fa-li fa-check text-muted"></i>Multiple agencies</li>
                        <li><i class="fa fa-li fa-check text-muted"></i>Mutliple roles</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="b-t b-light">
        <div class="container m-t-xl">
            <div class="row">
                <div class="col-sm-7">
                    <h2 class="font-thin m-b-lg">Scalable and Flexible Technical Architecture</h2>
                    <p class="h4 m-b-lg l-h-1x">
                        Based on FEMA's NIMS model, build using EPA Exchange Network technologies.
                        Using REST Web services to communicate.


                    </p>
                    <p class="m-b-xl">
                    </p>
                </div>
                <div class="col-sm-5 text-center" data-ride="animated" data-animation="fadeInRightBig">
                    <section class="panel bg-light m-t-lg m-r-n-lg m-b-n-lg no-border device animated fadeInUp">
                        <header class="panel-heading text-left">
                            <i class="fa fa-circle fa-fw icon-muted"></i>
                            <i class="fa fa-circle fa-fw icon-muted"></i>
                            <i class="fa fa-circle fa-fw icon-muted"></i>
                        </header>
                        <img src="~/Content/Images/app.png" class="img-full">
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="b-t b-light pos-rlt bg-white">
        <div class="container">
            <p class="m-t-xl m-b-xl">  </p>
        </div>
    </div>
</section>

