<section class="panel panel-default">
    <div class="panel-body" >
        <div class="form-horizontal">
            <div class="form-group">
                <section class="hbox stretch">
                    <!-- .aside -->
                    <aside class="bg-light aside b-r animated fadeInLeftBig">
                        <section class="vbox">
                            <header class="header b-b navbar">
                                <a class="btn btn-link pull-right visible-xs" data-toggle="class:show" data-target=".nav-primary">
                                    <i class="fa fa-bars"></i>
                                </a>
                                <a href="" class="navbar-brand">Help</a>
                            </header>
                            <section class="scrollable">
                                <nav class="nav-primary hidden-xs nav-docs">
                                    <ul class="nav">
                                        <li class="dropdown-header b-b b-light"><em>Users</em></li>
                                        <li><a href="#resources">Resources</a></li>
                                        <li><a href="#certifications">Certifications</a></li>
                                        <li><a href="#incidents">Incidents</a></li>
                                        <li class="dropdown-header b-b b-light"><em>Admin</em></li>
                                        <li><a href="#adminusers">Manage Users</a></li>
                                        <li><a href="#adminref">Reference Data</a></li>
                                        <li><a href="#admininstall">Installation</a></li>
                                    </ul>
                                </nav>
                            </section>
                        </section>
                    </aside>
                    <!-- /.aside -->
                    <section id="content">
                        <section class="vbox">
                            <section class="scrollable bg-light lter" data-spy="scroll" data-target=".nav-primary">
                                <section id="docs">
                                    <div class="clearfix padder">

                                        <h3 class="text-success">Overview</h3>
                                        <h5 class="m-t-lg">Emergency Hound helps agencies prepare for and respond to emergencies.</h5>
                                        <h4>Features:</h4>
                                        <ul>
                                            <li>Plan for emergencies by maintaining a list of available resources</li>
                                            <li>Verify resource availability and track your verification history</li>
                                            <li>Maintain a directory of available emergency responders</li>
                                            <li>Track which certifications are held by responders</li>
                                            <li>Track incident information</li>
                                            <li>Define the incident response team, including reporting relationships</li>
                                            <li>Track many incident details (e.g objectives, status updates, operational periods, safety plans, etc)</li>
                                            <li>View incidents, available resources and nearby environmental concerns on a map</li>
                                            <li>Generate FEMA compliant reports</li>
                                        </ul>

                                        <h3 class="text-success" id="resources">Resource Management</h3>
                                        <div class="line"></div>
                                        <p id="bootstrap">
                                            Emergency Hound allows emergency management personnel to maintain an inventory of emergency response resources.
                                            Emergency Hound tracks three different categories of resources:
                                        </p>
                                        <h5>
                                            <strong>Categories of Resources</strong>
                                        </h5>
                                        <p>
                                            <ul>
                                                <li>Equipment or supplies (e.g. Air Compressors, Track Dozers, or pallets of bottled water)</li>
                                                <li>Responder Teams (e.g. Canine Search and Rescue Team, Rapid Needs Assessment Team)</li>
                                                <li>Individual Responders</li>
                                            </ul>
                                        </p>
                                        <!-- ***************** VIEW RESOURCES ******************* -->
                                        <h4 id="icons" class="m-t-lg">View Resources</h4>
                                        <p>
                                            To view a listing of resources you have access to, click on the <strong>(Planning --> Resources)</strong> left menu item. An example screen is shown here:
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />

                                            This grid will display the following:
                                            <ul>
                                                <li>Resources maintained by your organization</li>
                                                <li>Resources maintained by other organizations that have been set by the other organization as publicly viewable</li>
                                            </ul>

                                            Resources you can edit will display a "pencil" icon. Resources you only have read-only access to will display an "eye" icon.
                                        </p>
                                        <!-- ***************** ADD OR EDIT RESOURCES ******************* -->
                                        <h4 id="icons" class="m-t-lg">Add or Edit Resource</h4>
                                        <p>
                                            To add a resource, click on the <strong>(Planning --> Resources)</strong> left menu item. A listing of any resources
                                        </p>
                                        <h4 id="icons" class="m-t-lg">Edit Resource</h4>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>


                                        <h3 class="text-success" id="certifications">Qualification/Certification Management</h3>
                                        <div class="line"></div>
                                        <p id="bootstrap">This section describes how to manage individual certifications/qualifications in Emergency Hound.</p>
                                        <h4 id="icons" class="m-t-lg">Add Individual</h4>
                                        <p></p>
                                        <h4 id="icons" class="m-t-lg">Add Certification</h4>
                                        <p></p>
                                        <h4 id="icons" class="m-t-lg">Edit Certification</h4>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>


                                        <h3 class="text-success" id="incidents">Incident Management</h3>
                                        <div class="line"></div>
                                        <p id="bootstrap">This section describes how to manage incidents.</p>
                                        <h4 id="icons" class="m-t-lg">Add Incident</h4>
                                        <p></p>
                                        <h4 id="icons" class="m-t-lg">Incident Location</h4>
                                        <p></p>
                                        <h4 id="icons" class="m-t-lg">Incident Team</h4>
                                        <p></p>
                                        <h4 id="icons" class="m-t-lg">Operational Periods</h4>
                                        <p></p>
                                        <h4 id="icons" class="m-t-lg">Status Updates</h4>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>


                                        <h3 class="text-success" id="adminusers">Admin: User Management</h3>
                                        <div class="line"></div>
                                        <p id="bootstrap">This section describes how to manage user accounts and security rights.</p>
                                        <h4 id="icons" class="m-t-lg">Add User</h4>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>


                                        <h3 class="text-success" id="adminref">Admin: Reference Data Management</h3>
                                        <div class="line"></div>
                                        <p id="bootstrap">This section describes how to manage reference data.</p>
                                        <h4 id="icons" class="m-t-lg">Edit Reference Data</h4>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>


                                        <h3 class="text-success" id="admininstall">Admin: Installing Emergency Hound</h3>
                                        <div class="line"></div>
                                        <p id="bootstrap">This section describes how to install Emergency Hound.</p>
                                        <h4 id="icons" class="m-t-lg">Installation Steps</h4>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>
                                        <p>.</p>

                                    </div>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </div>
        </div>
        </div></section>